# GitHub API 설정
GITHUB_TOKEN=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

# Gemini LLM API 설정
GEMINI_API_KEY=AIzaSyD8OxPxgqY6EfytNwxNnLjD9W1O16AmGZc

# Supabase DB 설정 (팀 공용 Database)
SUPABASE_URL=https://kwmnybqeervuqtheekgp.supabase.co
SUPABASE_KEY=sb_secret_e61ylxH_dWLsjFB6DVNHPw_NFHmXsRb